<div class="container">
  <div
    id="maze-tab"
    class="column tab-content"
    style="display: none"
  >
    <div id="maze-board"></div>
  </div>
  <div
    id="extra-ui-maze"
    class="column"
    style="display: none"
  >
    <h2>Maze Options</h2>
    <div id="sliding-puzzle-solution">
      <button
        class="tab-btn"
        onclick="fetchMultiPathMaze()"
      >
        New Maze
      </button>
      <button
        class="tab-btn"
        onclick="solveMazeAndRender('dfs')"
      >
        DFS Solve
      </button>
      <button
        class="tab-btn"
        onclick="solveMazeAndRender('bfs')"
      >
        BFS Solve(Optimized Solution)
      </button>
    </div>
    <h2>Path Stats</h2>
    <div>
      <div id="num-steps"></div>
    </div>
  </div>
</div>
