<div class="container">
  <div
    id="puzzle-tab"
    class="column tab-content"
  >
    <div>Can you sort the numbers of the board in sequential order?</div>
    <br />
    <table id="board"></table>
    <div id="toast">Puzzle solved!</div>
  </div>
  <div
    id="extra-ui-sliding"
    class="column"
  >
    <h2>15 Puzzle</h2>

    <button
      class="tab-btn"
      onclick="fetchNewBoard()"
    >
      New Board
    </button>
    <button
      class="tab-btn"
      onclick="fetchSolution()"
    >
      Get Solution
    </button>
    <div id="sliding-puzzle-solution"></div>
  </div>
</div>
