<div class="container">
  <div
    id="puzzle-tab"
    class="column tab-content"
  >
    <h2>15 Puzzle</h2>
    <table id="board"></table>
    <div id="toast">Puzzle solved!</div>
  </div>
  <div
    id="extra-ui"
    class="column"
  >
    <h2>Extra UI</h2>
    <button onclick="fetchNewBoard()">New Board</button>
    <button onclick="fetchEasyBoard()">New Easy Board</button>
    <br />
    <button onclick="fetchSolution()">Get Solution</button>
    <div id="sliding-puzzle-solution"></div>

    </div>
  </div>
</div>
