<!DOCTYPE html>
<html>
  <head>
    <title>AI Search Agents</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/maze.css') }}"
    />
  </head>
  <body>
    <h1>AI Games</h1>
    {% include 'partials/tab-buttons.html' %} {% include
    'partials/game-tabs.html' %}
    <footer>
      <p>
        Deployed from commit:
        <a
          href="{{ commit_url }}"
          target="_blank"
          >{{ commit_sha }}</a
        >
      </p>
    </footer>
    <script>
      function showTab(tab) {
        document.getElementById('puzzle-tab').style.display = 'none'
        document.getElementById('maze-tab').style.display = 'none'
        document.getElementById('tictactoe-tab').style.display = 'none'

        document.getElementById('extra-ui-sliding').style.display = 'none'
        document.getElementById('extra-ui-maze').style.display = 'none'
        document.getElementById('extra-ui-tictactoe').style.display = 'none'

        document.getElementById(tab + '-tab').style.display = 'block'
        document
          .querySelectorAll('.tab-btn')
          .forEach((btn) => btn.classList.remove('active'))

        if (tab === 'puzzle') {
          document.querySelectorAll('.tab-btn')[0].classList.add('active')
          document.getElementById('extra-ui-sliding').style.display = 'block'
        }

        if (tab === 'maze') {
          document.querySelectorAll('.tab-btn')[1].classList.add('active')
          document.getElementById('extra-ui-maze').style.display = 'block'
          fetchMaze()
        }

        if (tab === 'tictactoe') {
          document.querySelectorAll('.tab-btn')[2].classList.add('active')
          document.getElementById('extra-ui-tictactoe').style.display = 'block'
        }
      }
    </script>
    <script src="{{ url_for('static', filename='js/sliding-puzzle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/maze.js') }}"></script>
  </body>
</html>
